*{
    font-family:'Roboto',sans-serif;
}
body{
    margin:0%;
    background-color: #b3d52a;
}

.NavBar{
    background-color: #4C2AD5;
    width:100%;
    top: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.Item{
    margin-top: calc(50% - 30px);
    font-size: 40px;
    color:white;
    font-weight: 900;
}

.Footer{
    position: fixed;
    bottom:0;
    display: flex;
    background-color: #4C2AD5;
    width:100%;
    display:flex;
    height:40px;
}

.Input input{
    margin:auto;
    flex:auto;
    margin:0 10px;
}
.Input button{
    width:90px;
}
.Send{
    width:50px;
    margin-top:4px;
}
.Send > svg{
    margin-left:10px;
}
.tasks{
    width:80vw;
}

.Dispaly{
    margin-top:300px;
    width:80%;
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
    height: 60%;
    background-color: #b3d52a;
}

.Task{
    margin-left:auto;
    margin-top:20px;
    border-bottom: 2px dashed lightseagreen;
    display:flex;
}

.Trash input{
    flex: 1;

}

.list{
    justify-content:center;
    width:700px;
    text-align: center;
}

.delete{
    justify-content:flex-end;
    flex:1;
}

.Submit{
display:inline-block;
padding:0.46em 1.6em;
border:0.1em solid #000000;
margin-top:4px;
border-radius:12px;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:700;
color:#000000;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color: #abd02f;
text-align:center;
transition: all 0.15s;
}
.Submit:hover{
text-shadow: 0 0 2em rgba(255,255,255,1);
color:#abd02f;
border-color:#abd02f;
}
    
@media all and (max-width:30em){
.Submit{
display:block;
margin:0.4em auto;
}
} 


.circle-small{
    width: 150px;
    height: 150px;
    border: 6px outset rgb(197, 83, 63);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -81px;
    margin-top: -81px;
    border-radius: 156px;
    -moz-animation: rotate-rev 3s infinite linear;
    -webkit-animation: rotate-rev 3s infinite linear;
    animation: rotate-rev 3s infinite linear;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}





.circle-inner-inner{
    width: 100px;
    height: 100px;
    background-color: rgb(199, 120, 100);
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    border-radius: 100px;
    -moz-animation: pulse 1.5s infinite ease-in;
    -webkit-animation: pulse 1.5s infinite ease-in;
    animation: pulse 1.5s infinite ease-in;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-moz-keyframes rotate{
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
	0% {transform: rotate(0deg);}
	100% {transform: rotate(-360deg);}
}

/*==============PULSE======================*/

@-moz-keyframes pulse{
	0% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -moz-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
}

@-webkit-keyframes pulse{
	0% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        -webkit-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
}

@keyframes pulse{
	0% {
        transform: scale(0.1);
        opacity: 0.2;
    }
	50% {
        transform: scale(1);
        opacity: 0.8;
    }
  100% {
        transform: scale(0.1);
        opacity: 0.2;
    }
}